
.box-header {
    display: flex;
    flex-direction: column;
}

.box-header-top {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.box-header-bottom {
    display: flex;
    flex-direction: row;
}

.box-header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.box-header-height {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: calc( 6 * var(--font-size) + 30px);
}

.box-header-height-top {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Oswald", serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc( 1.8 * var(--font-size));
}

.box-header-height-bottom {
    display: flex;
    justify-content: flex-end;
    font-size: calc( 0.9 * var(--font-size));
}

@media screen and (max-width: 650px) {

    .box-header-bottom {
        display: flex;
        flex-direction: column;
    }

    .box-header-left {
        justify-content: center;
        align-items: center;
    }

    .box-header-height-top {
        padding-bottom: 20px;
    }
    
}

.icon-nh {
    width: calc( 6 * var(--font-size));
    height: calc( 6 * var(--font-size));
}

.title-news {
    font-size: calc( 3.4 * var(--font-size));
    font-weight: bolder;
    color: #666666;
    
}