
<div class="box-header">
    
    <div class="box-header-top">
        <div><app-top-header></app-top-header></div>
    </div>

    <div class="box-header-bottom">
        <div class="box-header-left">
            <div>
                <img src="assets/nh-icon.png" class="icon-nh" /> 
            </div>
            <div class="title-news">news</div>
        </div>
        <div class="box-header-height">
    
    
                <div class="box-header-height-top">
                    Tecnologia, Esportes e Variedades
                </div>
                <div class="box-header-height-bottom">
                    Brasilia/DF, 25 de Fevereiro de 2024 - 18:56hs
                </div>
    
    
        </div>
        
    </div>



</div>
