
.box-info{
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-bottom: 12vw;
}

.box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vw;
}

.item-title {
    display: flex;
    justify-content: center;
    font-family: "Oswald", serif;
    color: #d90429;
    font-size: clamp(25px, 3.4vw, 80px);
    font-weight: bold;
    text-shadow: 2px 2px 8px #999999;
}

.item-subtitle {
    display: flex;
    justify-content: center;
    font-family: "Merriweather", serif;
    font-size: clamp(21px, 3vw, 72px);
    font-weight: bolder;
    font-style: italic;
    margin-top: 7vw;
}

.button-subtitle {
    display: flex;
    align-items: center;
    background-color: #f9dcc4;
    min-height: clamp(28px, 4vw, 96px);
    color: #7f5539;
    padding-left: 6vw;
    padding-right: 6vw;
    border-radius: 1.6vw;
}

.item-text {
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: clamp(14px, 2vw, 48px);
    line-height: clamp(21px, 3vw, 72px);
    word-spacing: 0.6vw;
    margin-top: 6vw;
}

