<div id="id-info" class="box-info">

    <div class="box-item">
        <div class="item-title">
            <span>DISCLAIMER</span>
        </div>
        <div class="item-text">
            <div>
                Este site não pretende ser um veículo de noticias.
            </div>
            <div>
                Trata-se somente de um experimento da utilização de tecnologias modernas de desenvolvimento de aplicativos, como Containers e Cloud Computing.
            </div>
        </div>
    </div>

    <div class="box-item">
        <div class="item-title">
            <span>TECNOLOGIAS UTILIZADAS</span>
        </div>
        <div class="item-text">
            <div>
                HTML, CSS, Javascript, SQL, Containers e Cloud Computing.
            </div>
        </div>
    </div>

    <div class="box-item">
        <div class="item-title">
            <span>IMPLEMENTAÇÃO</span>
        </div>
        <div class="item-subtitle">
            <div class="button-subtitle">FRONTEND</div>
        </div>
        <div class="item-text">
            <div>
                Desenvolvido com Angular, utilizando Angular Material, e hospedado no GIT Pages.
            </div>
        </div>
        <div class="item-subtitle">
            <div class="button-subtitle">BACKEND</div>
        </div>
        <div class="item-text">
            <div>
                Desenvolvido com NodeJS, utilizando Express, executando em um container Docker e hospedado no Google Cloud Run.
            </div>
        </div>
        <div class="item-subtitle">
            <div class="button-subtitle">BANCO DE DADOS</div>
        </div>
        <div class="item-text">
            <div>
                Dados armazenados utilizando o PostgreSQL, executando em uma Maquina Virtual com Ubuntu no Google Cloud.
            </div>
        </div>
        <div class="item-subtitle">
            <div class="button-subtitle">BANCO DE IMAGENS</div>
        </div>
        <div class="item-text">
            <div>
                As imagens utilizadas estão armazenadas em um Bucket da AWS S3.
            </div>
        </div>
    </div>
</div>
