<div class="box-about">
    <div class="about-text">
        Contato:
    </div>
    <div class="about-photo">
        <img src={{this.url_my_photo}} class="photo-style"/>
    </div>
    <div class="about-name">
        Nivaldo Hydalgo
    </div>
    <div class="about-title">
        PROFILE
    </div>
    <div class="about-content">
        nivaldohydalgo.github.io/profile
    </div>
    <div class="about-title">
        EMAIL
    </div>
    <div class="about-content">
        nivaldohydalgo.gmail.com
    </div>
    <div class="about-title">
        LINKEDIN
    </div>
    <div class="about-content">
        linkedin.com/nivaldohydalgo
    </div>
    <div class="about-title">
        GITHUB
    </div>
    <div class="about-content">
        github.io/nivaldohydalgo
    </div>
</div>
