
<div class="box-new">
    <div class="box-new-header">
        <div class="box-new-header-image">
            <img src={{new.image}} width="140" height="140"/> 
        </div>
        <div class="box-new-header-about">
            <div class="box-new-header-subtitle">
                <div class="header-subtitle">
                    {{ new.subtitle }}
                </div>
                <div class="header-icons">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="thumb_up"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="thumb_down"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                </div>
            </div>
            <div class="box-new-header-title">
                {{ new.title }}
            </div>
            <div class="box-new-header-date-category">
                {{ new.date }} {{ new.category }}
            </div>
            <div class="box-new-header-author">
                {{ new.author }}
            </div>
        </div>
    </div>
    <div class="box-new-content">
        {{ new.content }}
    </div>
    <div class="divider"></div>
</div>
