
<div class="box-new">
    <div class="box-new-header">
        <div class="box-new-header-image">
            <img src={{new.image}} class="image-style"/> 
        </div>
        <div class="box-new-header-about">
            <div class="box-new-header-subtitle">
                <div class="header-subtitle">
                    {{ new.subtitle }}
                </div>
                <div class="header-icons">
                    <span class="material-symbols-outlined icon-style">thumb_up</span>
                    <span class="material-symbols-outlined icon-style">thumb_down</span>
                    <span class="material-symbols-outlined icon-style">heart_check</span>
                </div>
            </div>
            <div class="box-new-header-title">
                {{ new.title }}
            </div>
            <div class="box-new-header-date-category">
                {{ new.date }} {{ new.category }}
            </div>
            <div class="box-new-header-author">
                {{ new.author }}
            </div>
        </div>
    </div>
    <div class="box-new-content">
        {{ new.content }}
    </div>
    <div class="divider"></div>
</div>
