.app-view {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app-container {
    width: calc(638px + ((100vw - 638px) * 0.4));
    font-size: var(--standard-font);
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    padding-right: 4px;
}

.app-content {
    display: flex;
    flex-direction: column;
} 

.app-divider {
    width: 100%;
    height: 1px;
    background-color: #434343;
    opacity: 0.4;
}

@media screen and (max-width: 650px) {
    .app-container {
        flex-direction: column;
        width: calc(100vw - 12px);
    }
}
